/* Last Update: 23-10-2025 17:09 */

// Config Variables

// TODO: Plan Font Stack

// $font---main: "Times New Roman", Times, serif;
$font---main--one: "Times New Roman", Times, serif;
$font---main--two: Arial, Helvetica, sans-serif;;
$font---main--three: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono", "Droid Sans Mono", monospace, monospace;
$font---main--four: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;

$font---main: $font---main--two;

// Colour Variables
$url---colour--footer: #7199ff;

// Topic List Colour Variables
$url---colour--topiclist: #690e0e;
$url---colour--topiclist-hvr: #0d56aa;


// Background Colour Variables
$background---colour--main: #f5f5f5;    
$background---colour--footer: #f5f5f5;
$background---colour--nav: #fd7575;
$background---colour--mobileNav: #272727;

$background---body: lightblue;

$background---col--header: greenyellow;


// cta button homepage
$background---btn--homepage: greenyellow;
$background---btn--homepage-hvr: #d001bb;

// Font Sizes

$font---size--h1: 28px; // main header h1

$font---size--xlarge: 22pt; // main article homepage
$font---size--large: 19pt; // main article homepage
$font---size--medium: 16pt; // main article homepage
$font---size--small: 14px;


// Media Query Breakpoints
$breakpoint---homepage--sm: 680px;
$breakpoint---homepage--xs: 480px;
$breakpoint---homepage--md: 980px;

$breakpoint---sm: 680px;
$breakpoint---xs: 480px;

