* {

    padding: 0;
    margin: 0;
}

// Website Hooter
header {

    text-align: center;
    position: relative;
    /* margin: 20pt; */
    padding: 20pt;
    /* font-size: $font---size--h1; */
    /* background: none; */
    background: $background---col--header;

    // TODO: Experiment with box shadow for header element
    /* box-shadow: $background---col--header -2px 0px 15px 0px; */
    /* box-shadow: $background---col--header 0px 3px 7px 0px; */

    @media (max-width: $breakpoint---homepage--sm) {

        font-size: $font---size--small;
        padding: 9px;
    }

    h1 {

        font-size: $font---size--h1;

        @media (max-width: $breakpoint---homepage--sm) {

            font-size: 4vw;

        }

    }

    span {

        /* font-size: $font---size--small; */
        font-weight: bold;
        font-style: italic;   
        color: #222222;   
        
        @media (max-width: $breakpoint---homepage--xs) {

            font-size: 3vw;
        }

    }
}

body {

    font-family: $font---main;
    background: $background---body;

    // body class --- homepage
    &.page---home {

        main {

            article {

                display: block;
                margin: 50pt auto 0 auto;
                line-height: 1.5;
                width: 41%;
                font-family: Arial, Helvetica, sans-serif;
                font-size: $font---size--xlarge;
                text-align: center;

                @media (max-width: $breakpoint---homepage--md) {

                    
                    width: 63%;

                }

                @media (max-width: $breakpoint---homepage--sm) {

                    width: 90%;
                    font-size: $font---size--large;
                    margin: 38pt auto;
                }

            }
            
            a#js_enter---website {

                display: block;
                /* background: none; */
                background: $background---btn--homepage;
                color: black;
                border: solid 1px #8d8d8d;
                border-radius: 4px;
                margin: 25px auto;
                font-family: Arial, Helvetica, sans-serif;
                font-weight: bold;
                font-size: $font---size--small;
                /* width: 100%; */
                width: 60px;
                text-decoration: none;
                text-align: center;
                padding: 7px;

                transition: background .3s, color .3s;

                @media (max-width: $breakpoint---homepage--xs) {

                    width: 90%;
                    /* margin: 30px auto; */
                    padding: 8px 0;
                }

                &:hover {

                    background: $background---btn--homepage-hvr;
                    color: white;
                }

            }

        }

    }

    // for main navigation
    main {

        // General page Styles
        &.page {
            
            // hamburger menu icon
            #open_page_menu {

                display: block;
                color: #2e2e2e;
                font-size: 22px;
                padding: 0px;
                cursor: pointer;
                transition: color .3s;
                background: #86deff;
                border: solid 1px #878585;
                border-radius: 6px;
                height: 32px;
                width: 32px;
                text-align: center;

                transition: background .3s, color .3s;

                &:hover {

                    color: #720303;
                    background: darken(#86deff, 10%);
                }
            }

            nav {

                &.navigation  {

                    /* margin-top: 20pt;  */               
                    transition: opacity .3s ease-in-out, visibility .3s; position: absolute;
                    top: 0;
                    visibility: hidden;
                    opacity: 0;
                    width: auto;
                    height: 100%;
                    width: 120px;
                    background: $background---colour--mobileNav;

                
                    /* border-right: #7199ff solid 3px; */
                    border-right: #720303 solid 3px;
                }

                // icon to close main menu
                div.close_menu {

                    display: block;
                    margin: 10px auto;
                    width: 20px;
                    height: 20px;
                    background: red;
                    text-align: center;
                    border-radius: 50%;
                    padding: 3px;
                    transition: background .3s;

                    cursor: pointer;

                    &:hover {

                        background: lighten(red, 10%);
                    }

                    .close_inner_container {

                        position: relative;
                        top: 2px;
                        color: white;
                        font-family: arial;
                        font-weight: bold;

                        transition: color .3s;

                        &:hover {

                            color: #323030;
                        }
                    }

                }

                // main toggled navigation menu styles
                .sub---navigation {

                    ul {

                        list-style: none;

                        li {

                            line-height: 2.1;
                            margin: 4pt 0;
                            padding: 0 3px;

                            a {

                                color: white;
                                text-decoration: none;
                                transition: color .3s;

                                &:hover {

                                    color: lightblue;
                                }
                            }
                        }
                    }

                }

                a {


                }
            }

            .search {

                vertical-align: middle;
                align-content: center;
                flex-wrap: wrap;
            }

            section.site---search--container {

                text-align: right;
                width: 95%;
                /* border: solid 1px #8d8d8d; */
                margin: 10px auto;
                /* height: 37px; */
                /* display: inline-block; */
                display: flex;
                vertical-align: middle;
                justify-content: space-between;

                #search_text_input {

                    padding: 4px;
                    border-radius: 6px;
                    border: #440404 solid 1px;
                    margin: 5px auto;
                    vertical-align: middle;
                }

                #btn---search {

                    color: black;
                    display: inline-block;
                    text-align: center;
                    /* padding: 0 12px; */
                    padding: 3px;
                    margin: 5px;
                    border-radius: 6px;
                    border: solid 1px gray;
                    text-decoration: none;
                    font-size: 12px;
                    vertical-align: middle;
                    transition: scale 0.3s;

                    transition: scale .3s;

                    > span {

                        transform: scale(1.3);

                    }
                }
            }

            section.site---topic--navigation_container {

                display: flex;
                /* visibility: visible; */
                /* opacity: 1; */
                width: 95%;
                margin: 0 auto;

                h2 {                    

                    text-align: center;
                }

                article {

                    /* padding: 0px; */
                    border-radius: 6px;
                    background: lighten(lightblue, 4%);
                    margin: 0 auto;
                    text-align: center;
                    width: 100%;

                    /* ul {

                        padding: 2px;
                        border-radius: 6px;
                        background: lighten(lightblue, 4%);
                        margin: 0 auto;
                        text-align: center;
                    } */


                }

                // TODO: Topic navigation menu styling
                .site---topic--navigation {

                    width: 33%;
                    /* border: solid 1px #8d8d8d; */

                    ul {

                        padding: 2px;
                        border-radius: 6px;
                        background: lighten(lightblue, 4%);
                        margin: 0 15px;

                        li {

                            line-height: 2.3;
                            list-style: none;
                            font-size: $font---size--small;

                            a {

                                color: $url---colour--topiclist;

                                transition: color .3s;

                                &:hover {

                                    color: $url---colour--topiclist-hvr;
                                }

                            }
                        }
                    }
                }

                // TODO: Progress checklist styling
                article {

                    /* width: 50%; */
                    width: 690px;
                    /* border: solid 1px #8d8d8d;  */         
                    
                    @media (max-width: $breakpoint---homepage--md) {

                        /* width: 65%; */
                        width: 76%;
                    }

                    section {


                    }



                    ul {

                        li {

                            list-style: none;
                            /* width: 120px; */
                            /* width: 140px; */
                            width: 25%;
                            width: auto;
                            display: inline-block;
                            /* height: 63px; */
                            margin: 2px 6px;

                            span {

                                img {

                                    display: block;
                                    width: 100%;
                                    border-radius: 5px;
                                    margin: 16px auto;
                                }
                            }

                            div.progress---checklist--item {

                                text-align: center;
                                margin: 6px 0;
                                display: flex;
                                /* align-items: self-start; */
                                justify-content: space-between;

                                .progress---checklist--status {


                                }

                                .progress---checklist--icon {

                                    &.icon---incomplete {

                                        display: inline-block;
                                        border-radius: 50%;
                                        width: 20px;
                                        height: 20px;
                                        background: red;
                                        text-align: center;
                                        /* border: solid 1px #ffffff; */
                                    }

                                }
                            }

                        }
                        
                    }
                }
            }

        }

        // Topic Flashcard pages
        &.page---flashcards {

            /* color: red; */

            // unique content and selectors
            .topic---flashcards--container {

                /* color: blue; */
                /* border: solid 1px red; */
                article {

                    section {

                        // Progress Tracker Icons
                        nav.progress---checklist--container {

                            ul {

                                /* display: flex; */
                                align-items: stretch;
                                align-content: center;
                                justify-content: space-evenly;
                                width: 95%;
                                margin: 8px auto;
                                padding: 6px 0;
                                border-radius: 18px;
                                background: wheat;                                
                                min-height: 30px;
                                height: auto;

                                li {

                                    display: inline-block;
                                }

                                li.status---indicator {

                                    width: 15px;
                                    height: 15px;


                                }

                                li.status---incomplete {
                                   
                                    background: red;
                                    padding: 1px;
                                    border-radius: 50%;
                                    border: #720303 solid 2px;
                                }

                                 li.status---complete {

                                    background: #40ff00;
                                    padding: 1px;
                                    border-radius: 50%;
                                    border: #07822e solid 2px;


                                 }
                            }

                            .progress---stats--container {

                                text-align: left;
                                margin: 3px auto;
                                color: red;
                                border: solid blue 1px;
                                width: 95%;
                                font-size: 12px;

                                .progress---stats,
                                .progress---percentage { 
                                                               
                                    display: inline-block;
                                }

                                .progress--stats {
                                
                                    span {

                                        font-weight: bold;
                                    }

                                    .progress---number {


                                    }

                                    .progress---total {


                                    }

                                }

                            }   
                            
                        }

                        h2 {

                            text-align: center;
                            margin: 15pt 0 0 0;
                        }

                        .flashcard {

                            background: #fff8a4;
                            border: solid 1px #fff8a4;
                            padding: 2px;
                            width: 480px;
                            /* width: 94%; */
                            display: block;
                            /* display: flex; */
                            min-height: 120px;
                            height: auto;
                            margin: 15px auto;

                            transition: border .3s;

                            &:hover {

                                border: solid 1px darken(#fff8a4, 16%);
                            }

                            @media (max-width: $breakpoint---homepage--md) {

                                width: 94%;
                            }

                            &.flashcard---code {


                            }

                            .flashcard---content--container {

                                display: flex;
                                width: 95%;

                                .flashcard---content,
                                .flashcard---icon {

                                    /* width: 50%; */
                                    padding: 5px 0
                                }

                                .flashcard---icon {

                                    margin: 5px;
                                }

                                .flashcard---content {

                                    width: 95%;
                                    min-height: 80px;
                                    height: auto;   

                                    .flashcard---inner--content {

                                        width: 55%;
                                        display: block;
                                        margin: 0 auto;
                                        line-height: 1.9;
                                        text-align: left;
                                        font-size: 14px;
                                    }

                                }

                            }

                            .flashcard---status--container {

                                font-size: 14px;


                            }

                            .flashcard---status {

                                display: flex;
                                /* flex-direction: column; */
                                justify-content: end;

                                .flashcard---icon {

                                }
                            }

                            .status---indicator {

                                width: 15px;
                                height: 15px;
                                padding: 1px;
                                border-radius: 50%;
                                margin: 0 20px;
                                cursor: pointer;

                                &.status---complete {

                                    background: #40ff00;
                                    border: #07822e solid 2px;
                                }
                                
                                &.status---incomplete {

                                    background: red;
                                    border: #720303 solid 2px;
                                }
                            }
                            
                        }
                    }
                }
            }
        }

        // Motivation Page
        &.page---motivation {

            /* color: purple; */

            // unique content and selectors
            .motivation---page--container {

                /* color: pink; */
                /* border: solid 1px purple; */

                h2 {

                    text-align: center;
                }

                #btn---home {

                    display: block;
                    margin: 0 auto;
                    color: red;
                    width: 120px;
                    text-align: center;

                    transition: color .3s;

                    &:hover {

                        color: blue;
                    }

                }

                div {

                    display: block;
                    width: 95%;
                    /* border: white solid 1px; */
                    margin: 5px auto;
                    padding: 2px;

                    p {

                        display: block;
                        width: 50%;
                        margin: 30pt auto;
                        line-height: 2;
                        min-height: 36px;
                        height: auto;   
                        font-style: italic;
                        font-weight: bold;
                        text-align: center;
                        padding: 5px;
                        background: #bcefff;
                        border-radius: 8px;    
                        box-shadow: #858383 0 0 6px 2px;       
                    }
                   
                }

                a#reload_quote {

                    display: block;
                    /* background: none; */
                    background: $background---btn--homepage;
                    color: black;
                    border: solid 1px #8d8d8d;
                    border-radius: 4px;
                    margin: 25px auto;
                    font-family: Arial, Helvetica, sans-serif;
                    font-weight: bold;
                    font-size: $font---size--small;
                    /* width: 100%; */
                    /* width: 60px; */
                    width: 145px;
                    text-decoration: none;
                    text-align: center;
                    padding: 7px;

                    transition: background .3s, color .3s;

                    @media (max-width: $breakpoint---homepage--xs) {

                        width: 90%;
                        /* margin: 30px auto; */
                        padding: 8px 0;
                    }

                    &:hover {

                        background: $background---btn--homepage-hvr;
                        color: white;
                    }

                }

            }

        }   

        // Quiz Page
        &.page---quizzes {

            /* color: green; */

            // unique content and selectors
            .topic---quizzes--container {

                /* color: yellow; */
                /* border: solid 1px green; */

                  article {

                    // Progress Tracker Icons
                    nav.progress---checklist--container {

                        ul {

                            /* display: flex; */
                            align-items: stretch;
                            align-content: center;
                            justify-content: space-evenly;
                            width: 95%;
                            margin: 14px auto;
                            padding: 4px 0;
                            border-radius: 18px;
                            background: wheat;                                
                            min-height: 30px;
                            height: auto;

                            li {

                                display: inline-block;
                            }

                            li.status---indicator {

                                width: 15px;
                                height: 15px;


                            }

                            li.status---incomplete {
                                
                                background: red;
                                padding: 1px;
                                border-radius: 50%;
                                border: #720303 solid 2px;
                            }

                                li.status---complete {

                                background: #40ff00;
                                padding: 1px;
                                border-radius: 50%;
                                border: #07822e solid 2px;


                                }
                        }

                        .progress---stats--container {

                            text-align: left;
                            margin: 10px auto;
                            color: red;
                            border: solid blue 1px;
                            width: 95%;
                            font-size: 12px;;

                            div {                                
                                display: inline-block;
                            }
                        }   
                        
                    }

                    h2 {

                        text-align: center;
                        margin: 15pt 0 0 0;
                    }

                    .quiz {

                        /* background: wheat; */
                        background: #fff8a4;
                        border: solid 1px #fff8a4;
                        margin: 15px auto;
                        padding: 2px;
                        width: 50%;

                        transition: border .3s;

                        &:hover {

                            border: solid 1px darken(#fff8a4, 16%);
                        }

                        @media (max-width: $breakpoint---homepage--md) {

                            width: 100%;
                        }
                    }

                    .quiz,
                    .quiz---content--container {

                        /* color: red; */
                        padding: 10px;
                        font-size: $font---size--small;
                        line-height: 1.6;
                    }

                    .quiz---icon {

                        width: 100%;
                        text-align: right;
                    }

                    .quiz---content--container {

                        .quiz---content {

                            padding: 4px 0;

                        }
                    }

                    .quiz---buttons--container {

                        .quiz---buttons {

                            a {

                                display: inline-block;
                                margin: 0 5px;
                                padding: 5px;
                                border-radius: 5px;
                                background: #b33434;
                                width: 20px;
                                color: white;
                                text-decoration: none;

                                transition: background .3s;

                                &:hover {

                                    background: blue;
                                    background: lighten(#b33434, 10%);
                                }
                            }
                        }
                    }

                    .quiz---feedback--container {

                        // display: flex;
                        align-items: stretch;
                        /* color: blue; */
                        width: 100%;
                        text-align: right;

                        a#btn_flip {
                            display: inline-block; 
                            width: 15px;                        
                            height: 15px; 
                            background: red;
                            padding: 1px;
                            border-radius: 50%;
                            border: #720303 solid 2px;
                         }

                        p {

                           


                            
                        }

                        .quiz---feedback {

                            text-align: center;
                            font-weight: bold;

                            &.feedback--correct {
                                //color: $green;
                                /* color: #05f105; */
                                color: #077a07;
                            }

                            &.feedback--incorrect {
                                //color: $red;
                                color: red;
                            }
                        }


                    }
                }
            }
        }

        // progress checklists page
        &.page---checklists {

            /* color: orange; */

            .progress---checklist--container {

                /* color: brown; */
                /* border: solid 1px orange; */

            }

            main {

                width: 100%;
                /* max-width: 1000px; */
                background: $background---body; 

                &.page {
                    
                    
                }
        
                // page specific - checklists templates
                &.page---checklists {

                

                }

            }         

        }
    }    

}

// Website Footer
footer {

    display: block;
    width: 100%;
    margin-top: 40px;
    text-align: center;
    /* font-size: $font---size--small; */
    font-size: 12px;

    a {

        color: $url---colour--footer;
        transition: color .3s;

        &:hover {

            text-decoration: none;
            color: darken($url---colour--footer, 10%);
        }
    }
}