* {

    padding: 0;
    margin: 0;
}

// Website Hooter
header {

    text-align: center;
    position: relative;
    /* margin: 20pt; */
    padding: 20pt;
    /* font-size: $font---size--h1; */
    /* background: none; */
    background: $background---col--header;
    box-shadow: $background---col--header -2px 0px 15px 0px;

    span {

        font-size: $font---size--small;
        font-style: italic;
    }
}

body {

    font-family: $font---main;
    background: $background---body;

    &.page---home {

        main {

            article {

                display: block;
                margin: 50pt auto 0 auto;
                line-height: 1.5;
                width: 37%;
                font-size: $font---size--xlarge;
                text-align: center;

                @media (max-width: $breakpoint---homepage--sm) {

                    width: 90%;
                }

            }
            
            a#js_enter---website {

                display: block;
                background: none;
                color: black;
                border: solid 1px #8d8d8d;
                border-radius: 4px;
                margin: 25px auto;
                font-weight: bold;
                font-size: $font---size--medium;
                /* width: 100%; */
                width: 60px;
                text-decoration: none;
                text-align: center;
                padding: 6px;

                transition: background .5s;

                @media (max-width: $breakpoint---homepage--sm) {

                    width: 86%;
                }

                &:hover {

                    background: #7199ff;
                }

            }

        }

    }

    &.page---progress--checklists {

        main {

            width: 100%;
            /* max-width: 1000px; */
            background: $background---body; 

            &.page {

                // hamburger menu icon
                #open_page_menu {

                    display: block;
                    color: #2e2e2e;
                    font-size: 24px;
                    padding: 10px;
                    cursor: pointer;
                    transition: color .3s;

                    &:hover {

                        color: #720303;
                    }
                }

                nav {

                    &.navigation  {

                        /* margin-top: 20pt;  */               
                        transition: opacity .3s ease-in-out, visibility .3s; position: absolute;
                        top: 0;
                        visibility: hidden;
                        opacity: 0;
                        width: auto;
                        height: 100%;
                        width: 120px;
                        background: $background---colour--mobileNav;

                    
                        /* border-right: #7199ff solid 3px; */
                        border-right: #720303 solid 3px;
                    }

                    // icon to close main menu
                    div.close_menu {

                        display: block;
                        margin: 10px auto;
                        width: 20px;
                        height: 20px;
                        background: red;
                        text-align: center;
                        border-radius: 50%;
                        padding: 3px;
                        transition: background .3s;

                        cursor: pointer;

                        &:hover {

                            background: lighten(red, 10%);
                        }

                        .close_inner_container {

                            position: relative;
                            top: 2px;
                            color: white;
                            font-family: arial;
                            font-weight: bold;

                            transition: color .3s;

                            &:hover {

                                color: #323030;
                            }
                        }

                    }

                    // main toggled navigation menu styles
                    .sub---navigation {

                        ul {

                            list-style: none;

                            li {

                                line-height: 2.1;
                                margin: 4pt 0;
                                padding: 0 3px;

                                a {

                                    color: white;
                                    text-decoration: none;
                                    transition: color .3s;

                                    &:hover {

                                        color: lightblue;
                                    }
                                }
                            }
                        }

                    }

                    a {


                    }
                }

                section.site---topic--navigation_container {

                    display: flex;
                    /* visibility: visible; */
                    /* opacity: 1; */
                    width: 95%;
                    margin: 0 auto;

                    h2 {
                        

                        text-align: center;
                    }

                    article {

                        ul {

                            padding: 2px;
                            border-radius: 6px;
                            background: lighten(lightblue, 4%);
                            margin: 0 auto;
                            text-align: center;
                        }


                    }

                    // TODO: Topic navigation menu styling
                    .site---topic--navigation {

                        width: 30%;
                        /* border: solid 1px #8d8d8d; */

                        ul {

                            padding: 2px;
                            border-radius: 6px;
                            background: lighten(lightblue, 4%);
                            margin: 0 15px;

                            li {

                                line-height: 1.8;
                                list-style: none;

                                a {


                                }
                            }
                        }
                    }

                    // TODO: Progress checklist styling
                    .progress---checklist--container {

                        /* width: 50%; */
                        width: 690px;
                        /* border: solid 1px #8d8d8d;  */                   

                        ul {

                            li {

                                list-style: none;
                                /* width: 120px; */
                                /* width: 140px; */
                                width: auto;
                                display: inline-block;
                                /* height: 63px; */
                                margin: 0 6px;

                                span {

                                    img {

                                        display: block;
                                        width: 100%;
                                        border-radius: 5px;
                                        margin: 16px auto;
                                    }
                                }

                                div.progress---checklist--item {

                                    text-align: center;
                                    margin: 6px 0;
                                    display: flex;
                                    /* align-items: self-start; */
                                    justify-content: space-between;

                                    .progress---checklist--status {


                                    }

                                    .progress---checklist--icon {

                                        &.icon---incomplete {

                                            display: inline-block;
                                            border-radius: 50%;
                                            width: 20px;
                                            height: 20px;
                                            background: red;
                                            text-align: center;
                                            /* border: solid 1px #ffffff; */
                                        }

                                    }
                                }

                            }

                            
                        }
                    }
                }

            }
    
            // page specific - checklists templates
            &.page---checklists {

            

            }

    }   


        

    }

}

// Website Footer
footer {

    display: block;
    width: 100%;
    margin-top: 10px;
    text-align: center;
    font-size: $font---size--small;

    a {

        color: $url---colour--footer;
        transition: color .3s;

        &:hover {

            text-decoration: none;
            color: darken($url---colour--footer, 10%);
        }
    }
}